<div id="vipBite_Body" class="body-content-container">
	<div id="restaurantContainer" class="container" style="margin-top: 20px; margin-bottom: 10px;">
		<div id="restaurantResult" class="span-8 colborder" style="margin-top:20px; margin-bottom:20px;">
			<div id="restaurantSearchContainer">
				<%= form_tag(controller: 'restaurant', action: 'vipBite_ViewRestaurant', method: "post") do %>
					<%= text_field_tag('SearchVal', nil || params[:SearchVal], maxlength: 30, placeholder: 'What are you in the mood for?', size: 30, :class=>"searchInput") %>
					<%= submit_tag('SEARCH', :class=>"userLoginButton clickable", style: "padding:7px; font-size: 11px;")%>
				<% end %>
			</div>
			<div id="searchResultContainer" style="margin-top: 5px;">
				<% if(nil != @searchRestaurant) %>
					<% @searchRestaurant.each do |rest|%>
						<div class="span-3 margin-bottom-5px">
							Logo Goes here
						</div>
						<div class="span-4 margin-bottom-5px">
							<h3><%= rest.restaurantName %></h3>
							<p class="vipBiteRegularFont"><%= [rest.address, rest.city, rest.province, rest.postal].join(", ") %></p>
							<button type="button" class="viewMapButton" onclick="showRestaurantLocation(<%=rest.latitude%>, <%=rest.longitude%>, '<%=rest.restaurantName%>')">
								viewOnMap
							</button>
						</div>
						<hr/>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="span-15">
			<span id="googleMap" style="display: block; height: 100%; margin-top:20px; margin-bottom:20px; height: 470px;"></span>
			<hr class="margin-top-10px"/>
			<div class="span-7">
				<h4>FEATURE</h4>
				<div style="margin-left:5px;">
					<img src="/Image/Shared/instra.png" height="30"/>
					<p>Featuring new restaruant just added to the VIPbite list? VIPbite TESTED AND
					AND APPROVED with a blog entry of your experience</p>
				</div>
			</div>
			<div class="span-7">
				<h4>GET THE APP</h4>
				<div style="margin-left:5px;">
					more image up top here!
					<br/>
					<img src="/Image/Shared/appstore.png" width="120" height="30"/>
        			<img src="/Image/Shared/googleplay.png" width="120" height="30"/>
        		</div>
			</div>
		</div>
	</div>
</div>

<script>
	function showRestaurantLocation(lat, lng, title)
	{
	    var mapProp = {
	        center:new google.maps.LatLng(lat,lng),
	        zoom:17,
	        mapTypeId:google.maps.MapTypeId.ROADMAP
	    };

	    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

	    var latlong = new google.maps.LatLng(lat, lng);

	    var marker = new google.maps.Marker({
        title: title,
        map: map,
        position: latlong
      });
	}
</script>

