<div id="vipBite_Body" class="body-content-container">
	<div id="body_RegisterContent" class="container" style="margin-top:20px">
		<% if(flash[:warning])%>
			<div style="background-color: red">
				<%= flash[:warning] %>
			</div>
		<%end%>

		<%= form_tag(controller: 'account', action: 'vipBite_Register', method: "post") do %>
			<div class="span-20">
				<h1>BECOME A MEMBER</h1>		
					<label class="margin-left-10px">FIRST NAME:</label>
					<%= text_field_tag('firstName', params[:firstName] || nil, maxlength: 30, :class=>"registerinput") %>
					<label class="margin-left-10px"> LAST NAME:</label>
					<%= text_field_tag('lastName', params[:lastName] || nil, maxlength: 30, :class=>"registerinput") %>
					<label class="margin-left-10px"> TITLE:</label>
					<%= select_tag('userTitle', options_for_select(["MR.", "MRs.", "MS."]), :class=>"registerinput") %>
				<hr class="margin-top-10px"/>
					<label class="margin-left-10px">EMAIL:</label>
					<%= email_field_tag('email', params[:email] || nil, maxlength: 30, :class=>"registerinput") %>
					<hr class="space"/>
					<label class="margin-left-10px">PASSWORD:</label>
					<%= password_field_tag('password', nil, maxlength:20, :class=>"registerinput") %>
					<label class="margin-left-10px">CONFIRMED PASSWORD:</label>
					<%= password_field_tag('cfm_password', nil, maxlength:20, :class=>"registerinput") %>
				<hr class="margin-top-10px"/>
					<label class="margin-left-10px margin-right-25px">MEMBERSHIP TYPE:</label>
					<%= radio_button_tag('memberType', '6months', :class=>"registerinput") %>
					<label class="margin-left-5px margin-right-25px">6 months -$69.95</label>
					<%= radio_button_tag('memberType', '12months', :class=>"registerinput") %>
					<label class="margin-left-5px margin-right-25px">12 months -$124.95</label>
					<hr class="space"/>
					<label class="margin-left-10px">NAME ON CARD:</label>
					<%= text_field_tag('noc_firstname', params[:noc_firstname] || nil, maxlength: 30, :class=>"registerinput") %>
					<%= text_field_tag('noc_lastname', params[:noc_lastname] || nil, maxlength: 30, :class=>"registerinput") %>
					<label class="margin-left-10px">CARD TYPE:</label>
					<%= select_tag('cardtype', options_for_select(["VISA", "MASTERCARD", "AMERICANEXP"]), :class=>"registerinput") %>
					<hr class="space"/>
					<label class="margin-left-10px">CARD NUMBER:</label>
					<%= text_field_tag('cardno', nil, maxlength: 20, :class=>"registerinput")%>
					<label class="margin-left-10px">EXP:</label>
					<%= text_field_tag('exp', nil, maxlength: 5, placeholder: "MM/YY", :class=>"registerinput")%>
					<label class="margin-left-10px">CVV/CID NUMBER:</label>
					<%= password_field_tag('cvv', nil, maxlength: 3, :class=>"registerinput")%>
					<hr class="space"/>
					<label class="margin-left-10px">BILLING ADDRESS:</label>
					<%= text_field_tag('address', params[:address] || nil, maxlength: 60, :class=>"registerinput") %>
					<label class="margin-left-10px">CITY:</label>
					<%= text_field_tag('city', params[:city] || nil, maxlength: 20, :class=>"registerinput") %>
					<label class="margin-left-10px">PROVINCE:</label>
					<%= select_tag('prov', options_for_select(["AB", "BC"]), :class=>"registerinput") %>
					<hr class="space"/>
					<label class="margin-left-10px">POSTAL:</label>
					<%= text_field_tag('postal', params[:postal] || nil, maxlength: 7, :class=>"registerinput") %>
					<label class="margin-left-10px">PHONE:</label>
					<%= text_field_tag('phone', params[:phone] || nil, maxlength: 11, :class=>"registerinput") %>
					<hr class="space"/>
					<hr class="space"/>
					<%= submit_tag('SUBMIT', :class=>"userLoginButton")%>
				<hr class="margin-top-10px"/>
			</div>
		<% end %>

		<div class="span-4">
			image content
		</div>
		<div class="span-16">
			<h1> DON'T FORGET THE APP</h1>
			<p style="font-size: 20px;">Think of the VIPbite as a card.( you don't need another one cluttering your wallet)
				Flash the app at participating VIPbite restaurants and reap the rewards.</p>
		</div>
	</div>
</div>