<div id="vipBite_Body" class="body-content-container">
	<div class="container" style="margin-top:40px;">
		<h1 class="AaarghFont">MY ACCOUNT</h1>
		<div class="span-8 push-1 colborder" id="accountManagementPane">
			<h4>Edit Email or Password</h4>
			<hr/>
			<%= form_tag(controller: 'account', action: 'vipBite_Account', method: "post") do%>
				<table>
					<tr>
						<th><label>EMAIL:</label></th>
						<td><%= email_field_tag('email', @loginUserEmail || nil, maxlength:30, :class=>"registerinput") %></td>
					</tr>
					<tr>
						<th><label>PASSWORD:</label></th>
						<td><%= password_field_tag('password', nil, maxlength:20, :class=>"registerinput") %></td>
					</tr>
				</table>
				<div id="MembershipValidationDate" class="margin-bottom-10px">
					<label>VIPbite MEMBERSHIP VALID UNTIL:</label>
					<% if(@loginUserExp <= Time.now) %>
						<label style="color:red"><%= @loginUserExp.year %>/<%= @loginUserExp.month %>/<%= @loginUserExp.day %></label>
					<% else %>
						<label style="color:green"><%= @loginUserExp.year %>/<%= @loginUserExp.month %>/<%= @loginUserExp.day %></label>
					<% end %>
				</div>
				<div class="push-4"><%= submit_tag('APPLY CHANGE', :class=>"renewMembershipButton clickable") %></div>
			<%end%>
			<hr/>
			<% if(@loginUserExp <= Time.now) %>
				<button type="button" class="renewMembershipButton" style="position:relative; float:right;">RENEW VIPbite MEMBERSHIP</button>
			<%end%>
		</div>
		<div class="span-8 push-2 colborder">
			my card goes here!
		</div>
	</div>
</div>