<!DOCTYPE html>
<html>
<head>
	<title>VIPBITE | <%= siteTitle %></title>

	<!-- Section used for protection-->
	<%= csrf_meta_tags %>

	<!-- INCLUDING STYLESHEET -->
	<%= stylesheet_link_tag 'application', :media => 'all'%>

	<!-- INCLUDING JAVASCRIPT -->
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'application' %>

</head>

<body>
	<div id="vipBite_Header" class="header-content-container" style="position: relative; margin-top: 10px">
		<div id="vipBite_LogoSection" style="float: left; display: inline-block; background-color: white; min-width:400px; height: 100%; margin-left:10px;">
			This is Where the Image LOGO will be
		</div>
		<div id="vipBite_NavigationMenu" style="display: inline-block; height:20px;text-align: center; position: absolute;bottom: 10px; margin-left: 10px">
			<nav class="nav-menu">
				<div class="nav-item">
					<a href="#"><text>Search Restaurant</text></a>
				</div>
				<div class="nav-item">
					<a href="#"><text>How it Work</text></a>
				</div>
				<div class="nav-item">
					<a href="#"><text>Become A Member</text></a>
				</div>
			</nav>
		</div>

		<!-- THE HEADER WILL CHANGE DEPENDING ON WETHER OR NOT THE USER IS LOGIN FOR NOW ASSUMED HE IS NOT -->
		<table class="login-containter" style="position: absolute; right: 10px; top: 5px;">
			<tbody>
				<tr>
					<td><label style="margin-left: 10px;">Email:</label></td>
					<td><label style="margin-left: 10px;">Password:</label></td>
				</tr>
				<tr>
					<td><input type="text" id="account_UserName" name="Email" style="margin-left: 10px;"/></td>
					<td><input type="password" id="account_PassId" name="Password" style="margin-left: 10px;"/></td>
				</tr>
				<tr>
					<td></td>
					<td><a href="#" style="margin-left: 10px; margin-bottom: 5px;">forgot your password?</a></td>
					<td><input type="button" id="account_LoginButton" value="Log In" style="margin-left: 10px; margin-bottom: 5px; margin-top:5px"/></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- this is where the actual content will be loaded -->
	<%= yield %>
	<!-- end of the container -->

	<div id="vipBite_Footer" class="footer-content-container" style="position: relative">
		<div id="vipBite_FooterContent" style="margin-top: 10px">
			<section id="ContactUs_Section" style="display: block; float:left; margin-left: 20px; margin-right:20px; width: 296px; background-color: antiquewhite;">
				<h3>CONTACT US</h3>
				<text>
					YOUR ADDRESS COLIN!
				</text>
			</section>
			<section id="SocialMedia_Section" style="display: block; float:left; margin-left: 20px; margin-right:20px; width: 296px; background-color: antiquewhite;">
				<h3>FOLLOW US ON</h3>
				<ul>
					<li>Tweeter</li>
					<li>Facebook</li>
				</ul>
			</section>
			<section id="Policies_Section" style="display: block; float:left; margin-left: 20px; margin-right:20px; width: 296px; background-color: antiquewhite;">
				<h3>TERMS & CONDITION</h3>
				<text>
					this here will be a link to various ploicies page.
				</text>
			</section>

			<div id="vipBite_CopyRight" style="position: absolute; left: 20px; bottom: 5px; margin-right:20px; font-family: cursive">
				<b>© 2014 vipBite.com . All rights reserved</b>
			</div>
			<div id="vipBite_Credited" style="position: absolute; right: 20px; bottom: 5px; margin-right:20px; font-family: cursive">
				<b>© Design & Create By: Tamanon Virulhakieat</b>
			</div>
		</div>
	</div>
</body>
</html>